<div
  *ngIf="toastService.toast$ | async as toast"
  class="fixed top-6 right-6 max-w-sm px-4 py-3 rounded shadow-lg z-[9999] text-white flex items-start gap-3 animate-slide-in"
  [ngClass]="{
    'bg-green-600': toast.type === 'success',
    'bg-red-600': toast.type === 'error',
    'bg-blue-600': toast.type === 'info'
  }"
>
  <i
    class="fas text-xl"
    [ngClass]="{
      'fa-check-circle': toast.type === 'success',
      'fa-exclamation-circle': toast.type === 'error',
      'fa-info-circle': toast.type === 'info'
    }"
  ></i>

  <div class="flex-1">
    <div class="font-bold">{{ toast.text }}</div>
    <div *ngIf="toast.description" class="text-sm font-black mt-1">
      {{ toast.description }}
    </div>
  </div>

  <button class="ml-2" (click)="toastService.clear()">
    <i class="fas fa-times"></i>
  </button>
</div>
